In [1]:
import pandas as pd
car = pd.read_csv("cars.csv", sep=';')
car.isnull()

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False
2,False,False,False,False,True,False,False,False,False
3,False,True,False,False,False,False,False,False,False
4,False,False,False,True,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...
402,False,False,False,False,False,False,False,False,False
403,False,False,False,False,False,False,False,False,False
404,False,False,False,False,False,False,False,False,False
405,False,False,False,False,False,False,False,False,False
406,False,False,False,False,False,False,False,False,False